[submodule "AD"]
	path = AD	
	url = https://github.com/akbuffalo1/ApproachesCore.git

[submodule "AppSub"]
	path = AppSub	
	url = https://github.com/akbuffalo1/AppSub.git

[submodule "Confirm"]
	path = Confirm
	url = https://github.com/akbuffalo1/confirm.git



