[submodule "AD"]
	path = AD	
	url = https://github.com/akbuffalo1/ApproachesCore.git

[submodule "Last"]
	path = Last
	url = https://github.com/akbuffalo1/Last.git


[submodule "Mile"]
	
	path = Mile
	
	url = https://github.com/akbuffalo1/Last.git
